{% extends 'base.html.twig' %}

{% block title %}New Film{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Create new Film</h1>

    {{ include('film/_form.html.twig') }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tagSelect') }}
{% endblock %}
