{% extends 'base.html.twig' %}

{% block title %}Tag index{% endblock %}

{% block body %}
    <h1>Tag index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td width="80% ">{{ tag.title }}</td>
                <td width="20%">
                    <a href="{{ path('tag_show', {'id': tag.id}) }}" class="btn btn-primary">Show</a>
                    <a href="{{ path('tag_edit', {'id': tag.id}) }}" class="btn btn-info">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tag_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
